@use 'variables';

.main__container {
    padding-top: 100px;

    &__box {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-areas: 
        "sideA sideB";

        &__description {
            width: 600px;
            padding: 0 0 24px 80px;
    
            &__box {
    
                &__title {
                    width: 350px;
                    font-size: 2.3em;
                    margin-bottom: 24px;
                }
    
                &__paragraph {
                    width: 400px;
                    display: flex;
                    row-gap: 16px;
                    flex-direction: column; 
                }
            }
        }
    
        &__image--contador {
            display: flex;
            justify-content: center;
        }
    }

    &__box__buttons {
        padding-left: 80px;

        &__content {
            padding: 24px 16px 24px 0;

            display: flex;
            column-gap: 64px;
            align-items: center;

            &__playlist {
                display: flex;
                align-items: center;
                justify-content: center;
                
                width: 120px;
                height: 36px;
                padding: 8px;
                text-align: center;
                border-radius: 20px;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                -o-border-radius: 20px;

                background-color: #6857d2;

                &:hover {
                    cursor: pointer;
                }
            }

            &__know__more {
                display: flex;
                align-items: center;

                & > a {
                    display: flex;
                    column-gap: 14px;
                    justify-content: center;

                    & > div {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }

            &__counter {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-grow: 1;

                padding: 16px 12px;
                margin-left: 100px;
                font-weight: bold;

                border-radius: 16px;
                -webkit-border-radius: 16px;
                -moz-border-radius: 16px;
                -ms-border-radius: 16px;
                -o-border-radius: 16px;
            }
        }
    }

    &__box__guests {
        height: 150px;
        padding: 16px 50px 16px 50px;
        
        &__cont {
            display:flex;
            align-items: center;
            justify-content: space-evenly;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 18px;
            -webkit-border-radius: 18px;
            -moz-border-radius: 18px;
            -ms-border-radius: 18px;
            -o-border-radius: 18px;
                                    
            &__status {

                & > ul {
                    display: flex;    
                    column-gap: 60px;
                    
                }
            }

            &__status--confirmed {
            
                & > h2 {
                    text-align: center;
                }
            }
        }
    }
}

.guest--value {
    margin-top: 12px;
    text-align: center;
    font-size: 1.5em;
}

.guest--value2 {
    margin-top: 12px;
}

.img--follow {
    height: 50px;
}

.djimage {
    height: 300px;
}

.main__container__description {
    grid-area: sideA;
}

.main__container__image--contador {
    grid-area: sideB;
}