@use 'reset';
@use './components/variables';
@use './components/message';
@use './components/main-description';

.box-page {
    width: 100vw;
    min-height: 100vh;
    background-image: linear-gradient(180deg, #02003e, #6857d2)
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

.main__container {
    background-image: url("../images/night-sky.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-bottom: 24px;
}


.little--description--text {
    font-size: .7em;
}

.medium--description--text {
    font-size: .9em;
}

.text--button {
    font-size: .9em;
}